@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::placeholder {
    color: white;
}


body {
    margin: 0px;
    background: #FFF;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #FFF;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 1000;
}

h4 {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

iframe {
    width: 100% !important;
}

nav {
    margin: 0em 0em 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1.8em;
    font-size: 1.2em;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 1px solid transparent;
    transition: 0.5s all;
}

nav ul li a:hover::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: #000;
    color: #000;
    border: 1px solid #000;
}

h1 {
    color: #FFF;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    color: #659922;
}

h3 {
    color: #FFF;
    font-size: 2em;
    line-height: 1.6;
}

p {
    line-height: 1.8;
}

.titulo {
    font-size: 2em;
    color: #659922;
}

section {
    min-height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
}

.fundo-sc1 {
    top: 0;
    height: 100vh;
    width: 100%;
    position: absolute;

}

@supports (-ms-ime-align:auto) {
    .fundo-sc1 {
        margin-top: 60px;
    }
}

/* SECAO PRINCIPAL */

.sc-principal {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    background: linear-gradient(49.23deg, #35B0CF 44.88%, #577ABC 115.43%);
}

.sc-principal .wrapper-texto {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sc-principal>header:nth-child(1)>img:nth-child(1) {
    width: 390px;
    margin-left: 7em;
    margin-top: 0.3em;
}

.sc-principal .texto {
    padding-left: 10em;
    padding-top: 4em;
    padding-right: 5em;
}

.sc-tratamento-osteopatia {
    background-image: url("../img/fundo-sc2.svg");
    background-size: cover;
}

.sc-tratamento-fisioterapia {
    background-image: url("../img/fundo-sc3.svg");
    background-size: cover;
}

.quadrado {
    width: 20em;
    height: 20em;
}

.quadrado1 {
    background-color: #2AB1AD;
    margin-top: 7em;
}

.quadrado2 {
    background: #59B0D2;
    margin-left: 20em;
}

.posicao-fundo {
    position: absolute;
}

.icone-circulo {
    left: 885px;
    top: 195px;
}

.icone-cadeira {
    z-index: 1;
    padding: 50px;
}

.icone-corredor {
    z-index: 1;
    padding: 27px;
}

.onda {
    bottom: 0;
    width: 100%;
}

/* COMUM A TODAS AS SECTIONS*/
.objetivos {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    vertical-align: middle;
    grid-gap: 10px;
    margin: 50px 200px;

}

.objetivos li {
    /* border: 1px solid #000; */
    color: black;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,154,253,1) 100%); */
    border-radius: 10px;
    padding: 50px;
    display: flex;
    align-items: center;
}

/* SECAO OSTEOPATIA */
.sc-tratamento-osteopatia {
    display: grid;
    background-color: #FFF;
    padding-left: 10em;
}

.titulo-tratamentos {
    text-align: center;
    margin: 1.5em 0;
}

.titulo-osteopatia {
    color: #5D7FC0;
}

.osteopatia-texto,
.fisioterapia-texto {
    font-size: 2em;
    line-height: 1;
}

.img-osteo,
.img-fisio {
    height: 250px;
    width: 300px;
}

.resumo-osteo,
.resumo-fisio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2em 0px;
}


/*  SECAO FISIOTERAPIA */
.sc-tratamento-fisioterapia {
    display: grid;
    background-color: #FFF;
}

.titulo-fisioterapia {
    color: #29C3BE;
}

/*  SECAO PROFISSIONAL */
.sc-profissional {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #FFF;
    background: linear-gradient(49.23deg, #35B0CF 44.88%, #577ABC 115.43%);
    font-size: 2em;
    /* background-image: url("../img/fundo-sc1.svg"); */
}

.titulo-profissional {
    margin-top: 1.8em;
    font-size: 3em;
    color: #fff;
}

.crefito {
    margin: 0.3em 0;
}

.dados-profissional {
    margin-right: 2em;
}

.wrapper-profissional {
    background: #5AD6C9;
    margin: 3em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nome-profissional {
    font-size: 2em;
    color: #FFF;
}

.crefito {
    color: #317696;
}

.imagem-profissional {
    margin-top: 4.3em;
    width: 20em;
    background: #59B0D2;
    padding: 2em;
}

/*  SECAO LOCALIZACAO */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.sc-localizacao {
    display: grid;
    background: #29C3BE;
    grid-template-columns: 1fr;
}

.caixa-endereco {
    display: flex;
    align-items: center;

}

.caixa-endereco .endereco-logradouro {
    font-size: 3em;
    color: white;
    margin-left: 3rem;
}

.caixa-endereco .endereco-observacao {
    font-size: 2em;
    color: #5D62B5;
    margin-left: 3rem;
}

/* SECAO CONTATO */

.sc-contato {
    display: grid;
    background: #29C3BE;
    grid-template-columns: 1fr;
    background-image: url("../img/contatobackground1.png");
}


form fieldset {
    border: none;
    position: relative;
    margin-bottom: 1.2em;
}

input.btn-primary {
    background-color: #51A2DA;
    border-color: #51A2DA;
}

form fieldset input {
    padding: 25px 12px 6px 12px !important;
    height: 45px !important;
    box-shadow: none !important;
    border: solid 1px #dedede !important;
    width: 100%;
}

form fieldset label {
    position: absolute;
    font-size: 2em;
    top: 13px;
    left: 20px;
    color: #FFF;
    font-weight: 300;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

form fieldset input:valid+label,
form fieldset input:focus+label {
    color: #51A2DA;
    font-weight: 700;
    font-size: 12px;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.caixa-mensagem {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    background-color: #5D62B5;
    max-width: 600px;
    max-height: 500px;
    padding: 15px;
    box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}

.caixa-mensagem input {
    border: 1px solid white;
    color: white;
    background: #5D62B5;
    border-radius: 4px;
    padding: 5px;
    font-size: 2em;

}

.caixa-mensagem .caixa-titulo {
    margin-top: 1em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.caixa-mensagem button {
    background: #F2726F;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    font-size: 2em;
}

.caixa-mensagem .btn-avaliacao {
    height: 3em;
    width: 100%;
}

.caixa-mensagem button:hover {
    background: rgba(122, 63, 112, 0.699);
}

.side-mensagem {
    color: white;
    text-align: center;
}

.side-titulo {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
}

.side-sub-titulo {
    font-size: 2em;
    font-weight: bold;
    margin-top: 2.4em;

}

.fale-conosco {
    display: flex;
    border: none;
    padding-left: 40px;
    text-align: center;
    border-radius: 20px;
    background: #5D62B5;
    height: 120px;
    color: white;
    font-size: 3em;
    width: 750px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.fale-conosco span {
    display: inline-block;
    margin-top: 40px;
}

.icone-whatsapp {
    height: 80px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    transition: 0.3s all;
}

.icone-whatsapp:hover {
    transform: scale(1.2);
}

.wrapper-mensagem {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* RODAPE */

footer {
    background: #FFF;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4em;
    font-size: 1.5em;
    line-height: 2.4;
    font-weight: bold;
    margin-left: 10rem;
    margin-top: 5rem;
}

.rodape-logo {
    height: 40px;
    display: block;
}

.rodape-barra {
    background: #363740;
    margin-left: -10rem;
    grid-area: 2 / 1 / last-line / last-column;

}

.rodape-endereco-logradouro,
.rodape-telefone-logradouro {
    display: flex;
}

.rodape-endereco-logradouro img,
.rodape-telefone-logradouro img {
    padding: 0px 14px;
}

.rodape-endereco-logradouro img {
    margin-top: -32px;
}

.rodape-icones-rede-social {
    height: 48px;
    width: 48px;
    transition: 0.3s all;
}

.rodape-icones-rede-social:hover {
    transform: scale(1.2);
    color: blue;
    filter: invert(55%) sepia(52%) saturate(3303%) hue-rotate(158deg) brightness(90%) contrast(101%);

}

/* BOTÃO ANIMADO */


.button {
    margin-top: 2em;
    min-width: 300px;
    min-height: 60px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #FFF;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: white;
    transform: translateY(-6px);
}

.button:hover::before,
button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s;
    opacity: 0;
}

.button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* BOTAO ANIMADO COM SVG */

.btn--show-overlay a {
    color: #2e2e2e;
    text-decoration: none;
    display: block;
    padding: 4px 8px;
    transition: color .25s ease-out;
}

.btn--show-overlay a:hover,
a:focus {
    color: #FFF;
}

.btn {
    text-align: center;
    z-index: 10;
    width: 250px;
    height: 70px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
}

.svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

path {
    fill: #2e2e2e;
    stroke: #2e2e2e;
    stroke-width: 1px;
}

.modal {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 105px;
    -webkit-transition: height 0.6s, width 0.6s;
    transition: height 0.6s, width 0.6s;
    left: 23px;
    z-index: 0;
    display: inline-block;
}

.conteudo-modal {
    display: none;
    position: absolute;
    top: 105px;
    left: 100px;
    width: 80%;
    color: white;
    z-index: 10;
    border: none;
    background-color: transparent;
    overflow-y: scroll;
    height: 407px;
}

.modal__close {
    display: none;
    position: absolute;
    top: 65px;
    right: 85px;
    color: white;
    z-index: 10;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

.modal__close:hover,
.modal__close:focus {
    border-bottom-color: white;
}

.modal--active .modal {
    width: 100%;
    height: 630px;
}

.modal--active .btn {
    display: none;
}

.modal--active .modal__close {
    display: block;
}

.modal--active .conteudo-modal {
    display: block;
}

/* FIM - BOTAO ANIMADO COM SVG */

/*COMUNICADO */
.comunicado {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    padding: 2em;
    margin: 2em 2em 1em 2em;
}

.destaque-1 {
    background: linear-gradient(to right, #ffffff 0%, #06bb9dc5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.destaque-2 {
    background: linear-gradient(to right, #00000094 0%, #020003 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.destaque-3 {
    background: linear-gradient(to right, #660385 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo-convenio {
    font-size: 1.5em;
    color: white;
    border: 9px solid;
    margin: 0px 166px;
    padding: 22px;
}

@media only screen and (max-width: 600px) {

    header {
        padding: 0;
    }

    nav {
        display: none;
    }

    button, .button {
        width: 95%;
    }

    .sc-principal {
        display: inherit;
    }

    .sc-principal .wrapper-texto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sc-principal .texto {
        padding: 1em;
    }

    .resumo-osteo,
    .resumo-fisio {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-osteo,
    .img-fisio {
        height: 250px;
        width: 100%;
    }

    header {
        width: 100vw;
    }

    .sc-principal>header:nth-child(1)>img:nth-child(1) {
        object-fit: cover; 
        object-position: 5px 2px;
        width: 187%;
        margin-left: 1em;
        margin-top: 0.3em;
    }

    .efeito-quadrado {
        display: none;
    }

    .icone-circulo {
        display: none;
    }

    section {
        height: 100%;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
    }

    .sc-tratamento-fisioterapia {
        padding: 4em 1em;
    }

    .sc-tratamento-osteopatia {
        padding-left: 1em;
    }

    .sc-profissional {
        display: inherit;
        height: 100%;
    }

    .objetivos {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    .modal {
        left: 0;
    }

    .conteudo-modal {
        left: 14%;
    }

    .nome-profissional {
        font-size: 1em;
        color: #FFF;
    }

    .titulo {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .titulo-profissional {
        font-size: 2em;
    }

    .imagem-profissional {
        margin-top: 4.3em;
        width: 100%;
        background: #59B0D2;
        padding: 1em;
        filter: saturate(1.1);
    }

    .side-mensagem {
        display: none;
    }

    .caixa-endereco {
        font-size: 8px;
    }

    .sc-contato,
    .wrapper-mensagem {
        display: inherit;
    }

    .fale-conosco {
        display: inherit;
        margin: 20px 0;
        padding-left: 0;
        height: 100%;
        width: 100%;
    }

    .icone-whatsapp {
        margin-top: 0px;
        margin-left: 0px;
    }

    .caixa-mensagem {
        margin-top: 20px;
    }

    .caixa-endereco {
        display: flex;
        align-items: center;
        border-top: 1px solid #7297769c;
        border-bottom: 1px solid #7297769c;
    }

    .rodape-endereco-logradouro,
    .rodape-telefone-logradouro {
        gap: 1em;
    }

    .rodape-endereco-logradouro img, .rodape-telefone-logradouro img {
        padding: 0;
        
    }

    footer {
        display: block;
        margin-left: 2em;
    }

}